@import "./sass/mixins";
@import "./sass/variables";
@import "./sass/media";

* {
  @include reset;
  font-family: $font-primary;
}

:root {
  @each $name, $color in $project-colors {
    --color-#{$name}: #{$color};
  }
}

body,
html {
  height: 100%;
}

body {
  background: url(./img/bkg.jpg) no-repeat 100% 100%;
  @include flex-center;
}

.form {
  width: 280px;
  padding: 30px;
  background: $color-panel-bg;
  border-radius: $global-radius;
  box-shadow: 10px 7px 15px 1px rgba(0, 0, 0, 0.37);

  @include desktop {
    width: 380px;
    height: 320px;
  }

  .form-input-container {
    position: relative;

    &::after {
      content: attr(data-error-message);
      position: absolute;

      top: 45px;
      left: 0px;

      transition: opacity 0.1s;
      opacity: 0;

      padding: 5px 8px;
      color: red;
      z-index: 9;
      font-size: 0.75em;
      height: 18px;
      line-height: 18px;
      border-radius: 3px;
      white-space: nowrap;
      word-wrap: normal;
    }

    &[data-is-valid="false"]::after {
      opacity: 1;
    }
  }

  .form-input-container + .form-input-container {
    margin-top: 40px;
  }

  &__input {
    width: 100%;
    border-radius: $global-radius - 5px;
    border: 2px solid $color-primary;
    background: transparent;
    padding: 10px;
    outline: none;
    color: $color-primary;
    transition: border-color 0.1s;

    @include desktop {
      font-size: 18px;
    }

    &[data-is-valid="false"] {
      border-color: red;
    }

    &::placeholder {
      color: $color-primary;
    }
  }
  &__button {
    width: 100%;
    @include flex-center;
    background-color: $color-primary;
    color: $color-panel-bg;
    border-radius: $global-radius - 5px;
    padding: 10px;
    margin-top: 40px;
    font-weight: bold;
    @include base-button;

    @include desktop {
      font-size: 15px;
    }
  }

  &__options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: $color-title-text;
    margin-top: 10px;
    user-select: none;

    a {
      color: $color-title-text;
      text-decoration: none;
      transition: color 0.2s;

      &:hover {
        color: $color-primary;
      }
    }

    @include desktop {
      font-size: 15px;
    }
  }
}
